/*#title {
  margin: 0 auto;
  text-align: center;
}

.col-3 {*/
  /*width: 100%;*/
}
/*.col-3 p {
  display: inline-block;
  text-align: center;
  width: 32%;
  margin: 5px 0 20px 0;
  border: 2px solid blue;
  padding: 5px 0 5px 0;
  background: lightblue;
}

table {
  width: 90%;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  text-align: center;
  background: lightgrey;
}

/*table, th, td {
  border: 1px solid grey;
}

.wrapping {
  width: 75%;
  margin: 4%
}

.lists {
  width: 100%;
  margin-left: 15%;
  display: inline-block;
}

h4 {
  text-align: center;
}

.ordered {
  width: 48%;
  margin: auto;
  float: left;
}

.unordered {
  width: 48%;
  margin: auto;
  float: left;
}

.images {
  width: 100%;
  align-items: center;
  margin-left: 110px;
}

img {
  margin: 6%;
}*/
header {
  display: flex;
}

.title {
  display: flex;
  width: 100%;
}

h1 {
  justify-content: center;
  text-align: center;
}

.col-3 {
  display: -webkit-flex;
  width: 100%;
}

.col-1 {
  -webkit-justify-content: center;
  width: 33.3%;
  background: lightblue;
  text-align: center;
  border: 2px solid blue;
  margin-bottom: 40px;
}

.wrapping {
  display: -webkit-flex;
  width: 90%;
}

.table {
  -webkit-justify-content: center;
  width: 100%;
}

table {
  width: 100%;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 20px;
  text-align: center;
  background: lightgrey;
}

table, th, td {
  border: 1px solid grey;
}

.wide {
  width: 40%;
}

.narrow {
  width: 20%;
}

.lists {
  clear: both;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.ordered {
  text-align: left;
}

.unordered {
  text-align: left;
}

.images {
  display: inline-flex;
  -webkit-justify-content: space-around;
  width: 100%;
  margin-left: 10%;
}

.animal {
  border: 2px solid blue;
}
